Extended Lightweight Modeling Framework/generate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="root" type="__root" /><xs:complexType name="__root"><xs:sequence><xs:element name="House" type="House" minOccurs="0" maxOccurs="unbounded" /><xs:element name="Family" type="Family" minOccurs="0" maxOccurs="unbounded" /><xs:element name="Person" type="Person" minOccurs="0" maxOccurs="unbounded" /></xs:sequence></xs:complexType><xs:complexType name="House"><xs:all /><xs:attribute name="_id" type="xs:ID" /></xs:complexType><xs:complexType name="Family"><xs:all><xs:element name="members" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="__item" type="xs:IDREF" maxOccurs="10" minOccurs="0" /></xs:sequence></xs:complexType></xs:element><xs:element name="house" type="xs:IDREF" minOccurs="0" maxOccurs="1" /></xs:all><xs:attribute name="_id" type="xs:ID" /></xs:complexType><xs:complexType name="Person"><xs:all><xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" /><xs:element name="age" type="xs:int" minOccurs="0" maxOccurs="1" /><xs:element name="tall" type="xs:float" minOccurs="0" maxOccurs="1" /><xs:element name="father" type="xs:IDREF" minOccurs="0" maxOccurs="1" /><xs:element name="mother" type="xs:IDREF" minOccurs="0" maxOccurs="1" /><xs:element name="friends" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="__item" type="xs:IDREF" maxOccurs="unbounded" minOccurs="0" /></xs:sequence></xs:complexType></xs:element></xs:all><xs:attribute name="_id" type="xs:ID" /></xs:complexType></xs:schema>
