Extended Lightweight Modeling Framework/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:element name="root" type="__root" /><xs:complexType name="__root"><xs:sequence><xs:element name="HLR" type="HLR" minOccurs="0" maxOccurs="unbounded" /><xs:element name="SR" type="SR" minOccurs="0" maxOccurs="unbounded" /><xs:element name="LLR" type="LLR" minOccurs="0" maxOccurs="unbounded" /></xs:sequence></xs:complexType><xs:complexType name="HLR"><xs:all><xs:element name="type" type="ReqType" minOccurs="0" maxOccurs="1" /><xs:element name="llrs" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="__item" type="xs:IDREF" maxOccurs="unbounded" minOccurs="0" /></xs:sequence></xs:complexType></xs:element><xs:element name="rid" type="xs:string" minOccurs="0" maxOccurs="1" /></xs:all><xs:attribute name="_id" type="xs:ID" use="required" /></xs:complexType><xs:complexType name="SR"><xs:all><xs:element name="rid" type="xs:string" minOccurs="0" maxOccurs="1" /></xs:all><xs:attribute name="_id" type="xs:ID" use="required" /></xs:complexType><xs:simpleType name="ReqType"><xs:restriction base="xs:string"><xs:enumeration value="Functional" /><xs:enumeration value="Safety" /><xs:enumeration value="Reliability" /></xs:restriction></xs:simpleType><xs:complexType name="LLR"><xs:all><xs:element name="hlrs" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="__item" type="xs:IDREF" maxOccurs="unbounded" minOccurs="0" /></xs:sequence></xs:complexType></xs:element><xs:element name="rid" type="xs:string" minOccurs="0" maxOccurs="1" /></xs:all><xs:attribute name="_id" type="xs:ID" use="required" /></xs:complexType></xs:schema>
